
<h1>Fetched Data</h1>
<div class="container">
    <div class="form-group">
        
        <label for="name"><u>Search Here</u>:</label>
        <input type="text" name="githubUser" placeholder="Type the Github Username" [(ngModel)]="userName">
        <button (click)="submitUser()">Search</button>
    </div>
    <div class="row">
            
        <blockquote class="text-center text-lg">
          <ul>
            <li id="{{i}}" appHighlight><br>
            <p ><strong>{{user.name}}</strong></p>
            <img src="{{user.avatar_url}}">
            <br><br>
            
            <footer>
              <cite><u> Location</u>:{{user.location}} <br><br>
                <u>Followers</u>:{{user.followers}}<br><br>
                <u>Following:</u>{{user.following}}<br><br>
                <u>Repositories Number</u>:{{user.public_repos}}<br><br>
                <a href="{{user.html_url}}" target="_blank">Link to GitHub</a><br><br>
                
                
              </cite>
            </footer>
            </li>
          </ul>
        </blockquote>
         
        <!-- <app-user-details></app-user-details> -->
    </div>
    <p><u>Pipe</u>: Data requested on: {{user.completeDate|date|uppercase}} </p>
</div>
